.forgot-password-link {
  display: block;
  text-align: right;
  margin-top: -10px; 
  margin-bottom: 20px;
  color: var(--color-primary-accent);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: var(--font-main);
  transition: all 0.3s ease;
}

.forgot-password-link:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: var(--font-main);
}
.success-message {
  color: #28a745; /* verde suave */
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: var(--font-main);
}
