.forgot-password-link {
  display: block;
  text-align: right;
  margin-top: -10px; 
  margin-bottom: 20px;
  color: var(--color-primary-accent);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: var(--font-main);
  transition: all 0.3s ease;
}

.forgot-password-link:hover {
  color: var(--color-secondary-accent);
  text-decoration: underline;
}

.form-message.error-message {
    color: #ff4d4d;
}