.slider-section {
  width: 70%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

/* --- Personalización de React Slick --- */
.slick-slide > div {
  margin: 0 10px; /* Espacio entre slides */
}

/* Estilo de los puntos de navegación */
.slick-dots li button:before {
  font-size: 12px;
  color: var(--color-primary-accent) !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--color-secondary-accent) !important;
}

/* Estilo de las flechas de navegación */
.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  color: var(--color-primary-accent) !important;
}

.slick-prev { left: -35px; }
.slick-next { right: -35px; }


@media (max-width: 768px) {
  .slider-section {
    /* Reduce el espaciado lateral en móviles */
    padding: 0 15px;
  }

  /* Oculta las flechas en pantallas táctiles */
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}